.flex-container {
    display: flex;
}

.instructions {
    background: #f6f6f6;
}

.results {
    padding: 10px;
    max-width: 400px;

    .pretty {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        padding: 20px;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        line-height: 1.6;
        color: #636b6f;
        background: #f6f6f6;
    }
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
    text-align: left;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.btn-submit {
    background-color: #2a94ce;
    color: white;
}

.editor-instructions {
    padding: 10px;
    color: white;
    background: darken($body-bg, 5%);
    text-align: center;
}

.editor {
    position: relative;
    // height: 100%;
}

.scenario {
    padding: 20px;
    color: $off-white;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
