.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparentize(#444, 0.5);
    z-index: 1000;
}

.modal-inside {
    background: white;
    padding: 70px;
    border-radius: 30px;
}
