.navbar {
    margin-bottom: 0;
    background: $body-bg;
    color: white;

    .navbar-brand {
        color: white;
    }
}

.navbar-default .navbar-nav > li > a {
    color: white;

    &:hover {
        color: white;
    }
}
