$types: padding margin;
$list: top left bottom right;

@each $type in $types {
    @each $direction in $list {
        @for $i from 0 through 40 {
            $value: $i * 5;
            .#{$type}-#{$direction}-#{$value} {
                #{$type}-#{$direction}: #{$value}px !important;
            }
        }
    }
    @for $i from 0 through 40 {
        $value: $i * 5;
        .#{$type}-#{$value} {
            #{$type}: #{$value}px !important;
        }
    }
}

$list: width height;

@each $dim in $list {
    @for $i from 0 through 150 {
        $value: $i * 5;
        .#{$dim}-#{$value} {
            #{$dim}: #{$value}px;
        }
    }
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.table .no-border {
    border: none;
}
