<VirtualHost *:80>
    ServerAdmin webmaster@{{ item.host }}
    ServerName {{ item.host }}
    ServerAlias {{ item.host }}
    DocumentRoot /var/www/{{ item.host }}/current/public

    <Directory "/var/www/{{ item.host }}/current/public">
      AllowOverride All
      Options -Indexes +FollowSymLinks
      Order allow,deny
      Allow from all

      Require all granted
    </Directory>

    ErrorLog /var/log/httpd/{{ item.host }}-error.log
    CustomLog /var/log/httpd/{{ item.host }}-access.log combined
</VirtualHost>
